html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "PT Serif", serif;
}

h1,
h2,
h3,
p,
ul,
dl,
dd,
dt,
td,
th {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2rem;
}

h2,
p {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.readMore {
  text-align: center;
  font-size: 1.5rem;
}
.readMore a {
  display: inline-block;
  color: #88c3bd;
  position: relative;
}

.readMore a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: skyblue;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 50px;
  background: #88c3bd;
  color: white;
  font-weight: bold;
  font-size: 4rem;
  border-radius: 28px;
}

.btn p {
  font-size: 2rem;
  letter-spacing: 2px;
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999999;
  text-align: center;
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
  display: block;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #88c3bd; /*伸びる背景色の設定*/
  animation-name: PageAnime;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes PageAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container {
  opacity: 0; /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 10px;
  position: fixed;
  background: white;
  z-index: 100;
}

header .cursol {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  z-index: 3;
  cursor: pointer;
}

header .cursol p {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
}
header .cursol.close p {
  opacity: 0;
}

header .cursol .center_border {
  position: absolute;
  width: 35px;
  height: 2px;
  background: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .cursol.close .center_border {
  background: transparent;
}

header .cursol .center_border::before {
  position: absolute;
  content: "";
  top: -10px;
  width: 35px;
  height: 2px;
  background: #000;
  transition: transform 0.3s;
}

header .cursol.close .center_border::before {
  transform: translateY(10px) rotate(-135deg);
}

header .cursol .center_border::after {
  position: absolute;
  content: "";
  top: 10px;
  width: 35px;
  height: 2px;
  background: #000;
  transition: transform 0.3s;
}

header .cursol.close .center_border::after {
  transform: translateY(-10px) rotate(135deg);
}

header section {
  display: none;
}

header .mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 100px;
  left: 0;
  background: white;
  z-index: 100;
}

header .mask .nav ul {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(180, 180, 180);
}

header .mask .nav li {
  position: relative;
  width: 50%;
  box-sizing: border-box;

  border-bottom: 1px solid rgb(180, 180, 180);
}

header .mask .nav li a {
  display: inline-block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: background 0.3s;
}

header .mask .nav li a:hover {
  background: #d2faf6;
}

header .mask .nav li:nth-of-type(2n-1) {
  border-right: 1px solid rgb(180, 180, 180);
}

header .mask .nav li:last-of-type {
  border-bottom: none;
}

header .mask .nav li p {
  display: flex;
  flex-direction: column;
}

header .mask .nav li p .en {
  font-size: 1rem;
  font-weight: bold;
}

header .mask .nav li::before {
  content: "＞＞";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #88c3bd;
}

.mask .contact {
  text-align: center;
  margin-top: 50px;
}

.mask .contact .tel {
  font-size: 4rem;
}

.mask .contact .tel i {
  margin-right: 10px;
  color: #88c3bd;
}

.mask .contact .time {
  font-size: 1.8rem;
}

header .mask .sns {
  margin-top: 30px;
}

header .mask .sns ul {
  display: flex;
  justify-content: center;
}

header .mask .sns li {
  cursor: pointer;
}

header .mask.hidden {
  opacity: 0;
  transform: translateY(-200%);
}

/* main */
/* hero */

#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#hero .slide {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: inherit;
}

#hero .slide img {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 1s ease-in-out;
  height: inherit;
  object-fit: cover;
}

#hero .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  /* background-color: rgba(51, 51, 51, 0.294); */
}

/*====== 9-1-1 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  left: 50%;
  bottom: 100px;
  /*全体の高さ*/
  height: 50px;
}

/*Scrollテキストの描写*/
.scrolldown span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background-color: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

#concept {
  text-align: center;
  background-image: url(../img/blizzard.png);
  padding: 90px 10px 30px;
}

#concept .title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -140%);
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 15px;
  background-image: url(../img/blizzard.png);
}

#concept .text {
  margin: 0 auto;
  padding: 60px 10px 40px;
  max-width: 700px;
  border: 1px solid #88c3bd;
  position: relative;
}

#concept .text p {
  margin-top: 30px;
  line-height: 2;
  letter-spacing: 2.5px;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUpTrigger{
  opacity: 0;
}
/* explanation  */

#explanation {
  padding-top: 30px;
  background: white;
}

#explanation .wrapper > div + div {
  margin-top: 30px;
}

#explanation h1 {
  font-size: 2.3rem;
  border-bottom: 2px solid #88c3bd;
}

#explanation .text {
  letter-spacing: 0.8px;
  margin: 20px 0 0;
  line-height: 1.8;
}

#explanation .text p {
  font-size: 1.3rem;
}

#explanation .pic {
  text-align: center;
}

#explanation .pic img {
  width: 95%;
}

/* menu */
#menu {
  background: white;
  padding-top: 30px;
}
#menu h1 {
  font-size: 2.3rem;
  border-bottom: 2px solid #88c3bd;
}

#menu table {
  width: 90%;
  margin: 20px auto;
  font-size: 1.5rem;
  border-collapse: collapse;
}

#menu td {
  text-align: center;
  border-top: 1px solid #000;
  padding: 5px 0;
  width: 40%;
}

#menu th {
  padding: 5px 0;
}

#menu td:nth-child(1) {
  width: 20%;
}

#menu th + th {
  border-left: 1px solid #000;
}

#menu td + td {
  border-left: 1px solid #000;
}

/* contact */

#contact {
  background-image: url(../img/footer_bg.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}

#contact::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.507);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#contact table {
  width: 100%;
  padding: 80px 0;
  color: white;
  position: relative;
  z-index: 2;
}

#contact table th,
.time,
.address,
.btn {
  font-size: 1.5rem;
}

#contact table .tel {
  font-size: 3.5rem;
  line-height: 1;
}

#contact table .address {
  padding: 20px 0;
}

#gallery {
  padding: 30px 0 30px;
  background: white;
}

#gallery h2 {
  margin-bottom: 10px;
}

#gallery .pic {
  width: 100%;
  margin: 20px 0 20px;
  text-align: center;
}

#gallery .pic > div + div {
  margin-top: 20px;
}

#gallery .pic img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 50px;
}

/* question */
#question {
  padding: 30px 0;
  background: white;
}

#question dl {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  gap: 20px 20px;
}

#question dl dt {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#question dl dt p {
  text-align: center;
  background: #88c3bd;
  width: 50px;
  line-height: 80px;
  color: white;
  font-size: 3rem;
  box-sizing: border-box;
}

#question dd {
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

#question dl dd .qes {
  font-weight: bold;
}

#question dl dd .ans {
  font-size: 1.2rem;
}

/* new_page */
#new_page {
  padding: 30px 0;
  background: white;
}

#new_page .text p {
  font-size: 1.3rem;
}

#new_page dl {
  margin-top: 10px;
}

#new_page dt {
  display: inline-block;
  margin: 30px 0 5px;
  background: #88c3bd;
  color: white;
  padding: 1px 15px;
}

#new_page dt p {
  font-size: 1.4rem;
}

#new_page dd {
  font-size: 1.3rem;
}

/* access */
#access {
  padding: 30px 0;
  background: white;
}

#access h2,
#access p {
  margin-bottom: 10px;
}

#access img {
  width: 100%;
}

#access dl {
  border-bottom: 2px solid #333;
  margin: 10px 0 20px;
  font-size: 1.5rem;
}

#access dt {
  border-top: 2px solid #333;
  border-bottom: 1px solid gray;
  padding: 10px 0 10px 10px;
  font-weight: bold;
}

#access dd {
  padding: 10px 0 10px 10px;
}

#access iframe {
  height: 200px;
  margin-bottom: 10px;
}

#item {
  padding: 50px 0 50px;
  text-align: center;
  background: white;
}

.item-slider {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 94%;
  margin: 0 auto;
}

.item-slider p {
  line-height: 1.2;
}

.item-slider a {
  display: block;
  transition: opacity 0.3s;
}

.item-slider a:hover {
  opacity: 0.7;
}

.item-slider img {
  width: 100%; /*スライダー内の画像を横幅100%に*/
  height: auto;
  padding-bottom: 10px;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.item-slider .slick-slide {
  margin: 0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute; /*絶対配置にする*/
  top: 42%;
  cursor: pointer; /*マウスカーソルを指マークに*/
  outline: none; /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666; /*矢印の色*/
  border-right: 2px solid #666; /*矢印の色*/
  height: 10px;
  width: 10px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  all: unset;
  color: transparent;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
}

.slick-dots .slick-active button {
  background: #333; /*ドットボタンの現在地表示の色*/
}

@media (min-width: 900px) {
  #gallery .pic {
    display: flex;
  }

  #gallery .pic > div + div {
    margin-top: 0px;
  }
}
