html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'PT Serif', serif;
}

h1,
h2,
h3,
p,
ul,
dl,
dd,
dt{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2rem;
}

h2,
p {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

.wapper {
  border: 1px solid pink;
  width: 95%;
  margin: 0 auto;
  
}

.readMore {
  text-align: center;
  font-size: 1.5rem;
}
.readMore a {
  display: inline-block;
  color: #88c3bd;
  position: relative;
}

.readMore a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: skyblue;
}

#header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 10px;
}

header.fixed {
  position: fixed;
  background: white;
  z-index: 100;
}



header .cursol {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  z-index: 3;
  cursor: pointer;
}

header .cursol p{
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
}
header .cursol.close p{
  opacity: 0;
}

header .cursol .center_border {
  position: absolute;
  width: 35px;
  height: 2px;
  background: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .cursol.close .center_border {
  background: transparent;
}

header .cursol .center_border::before {
  position: absolute;
  content: "";
  top: -10px;
  width: 35px;
  height: 2px;
  background: #000;
  transition: transform 0.3s;
}

header .cursol.close .center_border::before {
  transform: translateY(10px) rotate(-135deg);
}

header .cursol .center_border::after {
  position: absolute;
  content: "";
  top: 10px;
  width: 35px;
  height: 2px;
  background: #000;
  transition: transform 0.3s;
}

header .cursol.close .center_border::after {
  transform: translateY(-10px) rotate(135deg);
}

header section {
  display: none;
}

header .mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 100px;
  left: 0;
  background:white;
  z-index: 100;
  
  

}

header .mask .nav ul {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(180, 180, 180);

  
}

header .mask .nav li  {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  
  
  border-bottom: 1px solid rgb(180, 180, 180); 
}

header .mask .nav li a  {
  display: inline-block;
  padding: 10px ;
  width: 100%;
  box-sizing: border-box;
  transition: background .3s;
}

header .mask .nav li a:hover  {
 background: #d2faf6;;
}


header .mask .nav li:nth-of-type(2n-1)  {
  border-right: 1px solid rgb(180, 180, 180); 
}


header .mask .nav li:last-of-type  {
  border-bottom: none
}


header .mask .nav li p {
  display: flex;
  flex-direction: column;
  
  
}

header .mask .nav li p .en {
  font-size: 1rem;
  font-weight: bold;
}

header .mask  .nav li::before{
  content: '＞＞';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #88c3bd;
  

}

.mask .contact{
  text-align: center;
  margin-top: 50px;
}

.mask .contact .tel {
  font-size: 4rem;
}

.mask .contact .tel i {
  margin-right: 10px;
  color: #88c3bd;
}

.mask .contact .time {
  font-size: 1.8rem;
}

.mask .contact .btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 50px;
  background: #88c3bd;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 28px;
}

header .mask .sns {
  margin-top: 30px;
}

header .mask .sns ul{
  display: flex;
  justify-content: center;
}

header .mask .sns li{
  cursor: pointer;
}


header .mask.hidden {
  opacity: 0;
  transform: translateY(-200%);
}


/* main */
/* hero */

main {
  height: 100vh;
}

#hero {
  width: 100%;
  height: 420px;
  position: relative;
  margin-bottom: 20px;
}

#hero .slide {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: inherit;
}

#hero .slide img {
  position: absolute;
  width: 100%;
  opacity:0;
	transition:all 1s ease-in-out;
  height: inherit;
  object-fit: cover;
}

#hero .slide::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.349);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#hero #about {
  color: white;
  z-index: 1;
  writing-mode: vertical-rl;
}

#hero #about h1{
  font-size: 2.8rem
}

#hero #about p {
  display: none;
}

/* menu */

#menu {
  margin-bottom: 80px;
}
#menu h2 {
  margin-bottom: 10px;
}

#menu .pic {
  margin: 20px 0 20px;
}

#menu .pic img {
  width: 100%;
}

#menu dl {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#menu dt {
  width: 70%;
  border-top: 1px solid black;
  padding: 10px 0;
}

#menu dt:last-of-type {
  border-bottom: 1px solid black;
}

#menu dd {
  width: 30%;
  text-align: right;
  border-top: 1px solid gray;
  padding: 10px 0;
}

#menu dd:last-of-type {
  border-bottom: 1px solid gray;
}

/* contact */

#contact{
  background-image: url(../img/footer_bg.jpg);
  background-size: cover;
  text-align: center; 
  position: relative;
 
}

#contact::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.507);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#contact table {
  width: 100%;
  padding: 80px 0;
  color: white;
  position: relative;
  z-index: 2;
}

#contact table th, .time, .address, .btn{
  font-size: 1.5rem;
}

#contact table .tel {
  font-size: 3.5rem;
  line-height: 1;
}

#contact table .address {
  padding: 20px 0;
  
}

#contact table .btn {
  display: inline-block;
  background: #88c3bd;
  padding: 15px 110px;
}
#gallery {
  padding: 30px 0 30px;
  background:rgba(153, 153, 153, 0.048);
}


#gallery h2 {
  margin-bottom: 10px;
}

#gallery .pic {
  width: 100%;
  margin: 20px 0 20px;
  text-align: center;
}

#gallery .pic > div+div {
  margin-top: 20px;
}

#gallery .pic img {
  width: 100%;
  margin-bottom: 5px;
}


/* question */
#question {
  margin-top: 30px;
  padding-bottom: 30px;
}

#question dl {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  gap: 20px 20px;
}

#question dl dt {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}
#question dl dt p {
  text-align: center;
  background: #88c3bd;
  width: 50px;
  line-height: 80px;
  color:white;
  font-size: 3rem;
  box-sizing: border-box;
  
}

#question dd {
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5px
}

#question dl dd .qes {
  font-weight: bold;
}

#question dl dd .ans {
  font-size: 1.2rem;
}

/* new_page */
#new_page {
  padding: 30px 0;
  background:rgba(153, 153, 153, 0.048);
}

#new_page .text p {
  font-size: 1.3rem;
}

#new_page dl {
  margin-top: 10px;
}

#new_page dt {
  display: inline-block;
  margin: 30px 0 5px;
  background: #88c3bd;
  color: white;
  padding: 1px 15px;
}

#new_page dt p {
  font-size: 1.4rem;
}

#new_page dd {
  font-size: 1.3rem;
}



/* access */
#access {
  margin: 30px 0 0;
}

#access h2 ,#access p{
  margin-bottom: 10px;
}

#access img {
  width: 100%;
}

#access dl {
  border-bottom: 2px solid #333;
  margin: 10px 0 20px;
  font-size: 1.5rem;
}

#access dt{
  border-top: 2px solid #333;
  border-bottom: 1px solid gray;
  padding: 10px 0 10px 10px;
  font-weight: bold;
}

#access dd{
  padding: 10px 0 10px 10px;
}

#access iframe {
  height: 200px;
  margin-bottom: 10px;
}



